export(checkDir)
export(checkDirCoo)
export(ef2coo)
export(getCurvature)
export(getHarm)
export(get.obj.size)
export(ggMatvsVar)
export(icp.matrix)
export(mesh2ply2)
export(plotCurves)
export(readCurves)
