export(checkDir)
export(checkDirCoo)
export(ef2coo)
export(fixitall)
export(get.obj.size)
export(getCurvature)
export(getHarm)
export(getNAlistBool)
export(ggMatvsVar)
export(icp.matrix)
export(mesh2ply2)
export(nafun)
export(nafunArray)
export(pairwiseTPS)
export(plotCurves)
export(readCurves)
import(Morpho)
